h1 {
    text-align: center;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 1em;
}

.nav-bar-button {
    max-width: 40px;
}

h2 {
    text-align: center;
}

#color-icon {
    border: solid 1.5px rgba(0, 0, 0, 0.597);
    padding: 3px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px 2px;
}

#color-icon:active {
    background-color: rgba(0, 0, 0, 0.284);
}

#color-icon:hover {
    box-shadow: inset 0px 0px 8px 2px;
}

#wash-icon {
    border: solid 1.5px rgba(0, 0, 0, 0.597);
    padding: 3px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px 2px;
}

#wash-icon:active {
    background-color: rgba(0, 0, 0, 0.284);
}

#wash-icon:hover {
    box-shadow: inset 0px 0px 8px 2px;
}

#grid-resize {
    border: solid 1.5px rgba(0, 0, 0, 0.597);
    padding: 3px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px 2px;
}

#grid-resize:active {
    background-color: rgba(0, 0, 0, 0.284);
}

#grid-resize:hover {
    box-shadow: inset 0px 0px 8px 2px;
}

#grid-size-form-submit-button {
    width: 40px;
    height: 40px;
    margin: 4px;
    box-shadow: inset -1px 2px 8px 0px;
    border-radius: 50px;
    font-weight: bold;
}

#grid-size-form-submit-button:hover {
    box-shadow: inset -1px 2px 8px 2px;
    background-color: #58D68D;
}

#colors-palette {
    display: none;
}

.color-choice {
    width: 40px;
    height: 40px;
    margin: 4px;
    box-shadow: inset -1px 2px 8px 0px;
    border-radius: 50px
}

.color-choice:hover {
    box-shadow: inset -1px 2px 8px 2px;
}

#colors-palette-close-button {
    width: 40px;
    height: 40px;
    margin: 4px;
    box-shadow: inset -1px 2px 8px 0px;
    border-radius: 50px
}

#colors-palette-close-button:hover {
    box-shadow: inset -1px 2px 8px 2px;
    background-color: #e74d3cd1;
}

#resize-menu {
    display: none;
}

#grid-size-close-button {
    width: 40px;
    height: 40px;
    margin: 4px;
    box-shadow: inset -1px 2px 8px 0px;
    border-radius: 50px
}

#grid-size-close-button:hover {
    box-shadow: inset -1px 2px 8px 2px;
    background-color: #e74d3cd1;
}

.pixelsContainer {
    display: flex;
    border: solid 2px blueviolet;
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 80vh;
    max-width: 95vw;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.pixel {
    border: 0.5px solid gray;
    width: 10px;
    height: 10px;
}